{%extends "base.html"%}
{%block title%}
<title>{{title}}</title>
{%endblock title%}
{%block content%}
    <main class="page login-page">
         {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for c,m in messages %}
            <div class="alert alert-{{c}}" role="alert">
               <a href="#" class="close" data-dismiss='alert' aria-label="close">&times;</a>
                {{m}}
            </div>

            {% endfor %}
            {% endif %}
            {% endwith %}
        <form method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">{{form.croptype.label}}{{form.croptype(class_="form-control")}}</div>
                <div class="col-md-2">{{form.state.label}}{{form.state(class_="form-control")}}</div>
                <div class="col-md-2">{{form.sortby.label}}{{form.sortby(class_="form-control")}}</div>
                <div class="col-md-2">{{form.quantity.label}}{{form.quantity(class_="form-control")}}</div>

                <div class="col-md-2">
                    {% if session.get('stated') %}
                  <a href="{{url_for('bhomereset')}}">RESET </a>

                    {% else%}
                    <br>
                    {% endif %}
                    <br>
                    {{form.submit(class_="btn btn-primary")}}
                </div>

            </div>
<br>
                </form>

        <section class="clean-block clean-form dark">

            <div class="container">
                <div class="block-heading">
                                <h2 style="text-align:center;" >RESULTS</h2>
                </div>
                {%for crop in b%}

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">


  <div class="card" style="width:inherit">
   <!-- <img class="card-img" src="static/media/cropimg/{{crop[0]}}" alt="Card image" style="width:100%">-->
    <div class="card-body">
        <div class="row">
            <div class="col-md-3"><div class="media"><img class="mr-3" height="200" width="200"  src="static/media/cropimg/{{crop[0]}}"></div></div>
              <div class="col-md-2"></div>
            <div class="col-md-3"><br><br><br><h2 class="card-title" >{{crop[1]}}</h2></div>
        </div>
        <br>
        <p>{{crop[4]}}</p>
      <div >
                        <table class="table">
                            <tr>
                                    <th>Bidding ends on:</th>
                                    <th>{{crop[5]}}</th>
                                </tr>
                            <tr>
                                    <th>Base Price</th>
                                    <th>{{crop[2]}}</th>
                                </tr>


                        </table>
        <p style="text-align:center">
      <a href="{{url_for('viewcrop',a=crop[0])}}" onclick="return confirmation();"><button class="btn btn-primary">VIEW CROP</button></a>
        <a href="{{url_for('addtocart',a=crop[0])}}" onclick="return confirmation();"><button class="btn btn-danger">SAVE FOR LATER</button></a>
        </p>
    </div>
  </div>


    </div>

  </div>

</div>

<br>
                <br>
            {% endfor %}
                 <script type="text/javascript">
                function confirmation()
                {
                  var a=confirm("Are you sure you want to update ?")
                  return a;

                }
              </script>
{% endblock content%}