{%extends "base.html"%}
{%block title%}
<title>{{title}}</title>
{%endblock title%}
{%block content%}
    <main class="page login-page">
         {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for c,m in messages %}
            <div class="alert alert-{{c}}" role="alert">
               <a href="#" class="close" data-dismiss='alert' aria-label="close">&times;</a>
                {{m}}
            </div>

            {% endfor %}
            {% endif %}
            {% endwith %}

                </div>

            </div>
<br>


        <section class="clean-block clean-form dark">

            <div class="container">


                                 <br>
                <br>
                <button type="button" class="btn btn-success" style="width:100%" data-toggle="collapse" data-target="#ACTIVE">ACTIVE BIDS</button>
<div id="ACTIVE" class="collapse">
                <div class="table responsive">
                <table>
                    <th>
                        SELLER ID
                    </th>
                    <th>
                        CURRENT BID
                    </th>
                    <th>
                        DATE
                    </th>
                    <th>
                        QUNATITY
                    </th>

                    {% for crop in active %}
                    <tr>
                        <td><a href="{{url_for('viewprofile',p=crop[5])}}"> {{crop[5]}}</a>
                        </td>
                        <td>{{crop[3]}}
                        </td>
                        <td>{{crop[1]}}
                        </td>
                        <td>{{crop[2]}}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
</div>
            {%else%}
            <div class="block-heading">
                    <h2 >NO ITEMS TO SHOW</h2>
                </div>
                {% endfor %}
            {%endif%}




                                 <br>
                <br>
                <button type="button" class="btn btn-danger" style="width:100%" data-toggle="collapse" data-target="#DECLINED">DECLINED BIDS</button>
<div id="DECLINED" class="collapse">
                <div class="table responsive">
                <table>
                    <th>
                        SELLER ID
                    </th>
                    <th>
                        CURRENT BID
                    </th>
                    <th>
                        DATE
                    </th>
                    <th>
                        QUNATITY
                    </th>

                    {% for crop in active %}
                    <tr>
                        <td><a href="{{url_for('viewprofile',p=crop[5])}}"> {{crop[5]}}</a>
                        </td>
                        <td>{{crop[3]}}
                        </td>
                        <td>{{crop[1]}}
                        </td>
                        <td>{{crop[2]}}
                        </td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
</div>
            {%else%}
            <div class="block-heading">
                    <h2 >NO ITEMS TO SHOW</h2>
                </div>
                {% endfor %}
            {%endif%}


                                 <br>
                <br>
                <button type="button" class="btn btn-info" style="width:100%" data-toggle="collapse" data-target="#PAST">PAST BIDS</button>
<div id="PAST" class="collapse">
                <div class="table responsive">
                <table>
                    <th>
                        SELLER ID
                    </th>
                    <th>
                        CURRENT BID
                    </th>
                    <th>
                        DATE
                    </th>
                    <th>
                        QUNATITY
                    </th>

                    {% for crop in active %}
                    <tr>
                        <td><a href="{{url_for('viewprofile',p=crop[5])}}"> {{crop[5]}}</a>
                        </td>
                        <td>{{crop[3]}}
                        </td>
                        <td>{{crop[1]}}
                        </td>
                        <td>{{crop[2]}}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
</div>
            {%else%}
            <div class="block-heading">
                    <h2 >NO ITEMS TO SHOW</h2>
                </div>
                {% endfor %}
            {%endif%}



                                 <br>
                <br>
                <button type="button" class="btn btn-info" style="width:100%" data-toggle="collapse" data-target="#PENDING">PENDING</button>
<div id="PENDING" class="collapse">
                <div class="table responsive">
                <table>
                    <th>
                        SELLER ID
                    </th>
                    <th>
                        CURRENT BID
                    </th>
                    <th>
                        DATE
                    </th>
                    <th>
                        QUNATITY
                    </th>

                    {% for crop in active %}
                    <tr>
                        <td><a href="{{url_for('viewprofile',p=crop[5])}}"> {{crop[5]}}</a>
                        </td>
                        <td>{{crop[3]}}
                        </td>
                        <td>{{crop[1]}}
                        </td>
                        <td>{{crop[2]}}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
</div>
            {%else%}
            <div class="block-heading">
                    <h2 >NO ITEMS TO SHOW</h2>
                </div>
                {% endfor %}
            {%endif%}

            </div>
  </section>

                 <script type="text/javascript">
                function confirmation()
                {
                  var a=confirm("Are you sure you want to update ?")
                  return a;

                }
              </script>
{% endblock content%}



