{%extends "base.html"%}
{%block title%}
<title>{{title}}</title>
{%endblock title%}
{%block content%}
    <main class="page login-page">
         {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for c,m in messages %}
            <div class="alert alert-{{c}}" role="alert">
               <a href="#" class="close" data-dismiss='alert' aria-label="close">&times;</a>
                {{m}}
            </div>

            {% endfor %}
            {% endif %}
            {% endwith %}
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">PROFILE</h2>
                </div>


                    <div class="media-body">
                        <br>
                        <br>

                        <h2 style="text-align:center;">Your Crop Has Been Successfully Put Up For Bidding</h2>
                        <br>
                        <div style="text-align:center;">
                            <h3 style="color:red">Crop Name:  {{crop}}</h3>
                            <h3 style="color:red">Base Price:  {{value}}</h3>
                             <h3 style="color:red">Quantity:  {{quantity}}</h3>
                        </div>


                    </div>
                </div>
            <br><br>

                 <script type="text/javascript">
                function confirmation()
                {
                  var a=confirm("Are you sure you want to delete your crop from list?")
                  return a;

                }


              </script>

            <p style="text-align:center;">
  <a href="{{url_for('profile')}}" ><button class="btn btn-primary">&nbsp;&nbsp; HOME &nbsp;&nbsp;   </button></a>
  <a href="{{url_for('deletecrop',a=id)}}" onclick="return confirmation();"><button class="btn btn-primary">DELETE CROP</button></a>

</p>

            </div>
        </section>
    </main>
   {%endblock content%}

