{%extends "base.html"%}
{%block title%}
<title>{{title}}</title>
{%endblock title%}
{%block content%}
    <main class="page login-page">
         {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for c,m in messages %}
            <div class="alert alert-{{c}}" role="alert">
               <a href="#" class="close" data-dismiss='alert' aria-label="close">&times;</a>
                {{m}}
            </div>

            {% endfor %}
            {% endif %}
            {% endwith %}
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">CROP DETAILS</h2>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">


  <div class="card" style="width:inherit">
   <!-- <img class="card-img" src="static/media/cropimg/{{crop[0]}}" alt="Card image" style="width:100%">-->
    <div class="card-body">
        <div class="row">
            <div class="col-md-3"><div class="media"><img class="mr-3" height="200" width="200"  src="static/media/cropimg/{{crop[0]}}"></div></div>
              <div class="col-md-2"></div>
            <div class="col-md-3"><br><br><br><h2 class="card-title" >{{crop[1]}}</h2></div>
        </div>
        <br>
        <p>{{crop[4]}}</p>
      <div >
                        <table class="table">
                            <tr>
                                    <th>Bidding ends on:</th>
                                    <th>{{crop[5]}}</th>
                                </tr>
                            <tr>
                                    <th>Base Price</th>
                                    <th>{{crop[2]}}</th>
                                </tr>

                        </table>

          </div>
  </div>


    </div>

  </div>



</div>

<br>
                <br>


                 <script type="text/javascript">
                function confirmation()
                {
                  var a=confirm("Are you sure you dont want to add your bid")
                  return a;

                }


              </script>


            </div>

<form method="POST" action="{{url_for('viewcrop',a=crop[0])}}" enctype="multipart/form-data">
 <h2 style="text-align:center;color:blue;">ADD YOUR BID</h2>
    <br>
                {{ form.csrf_token }}
                    {% for field in form%}
                    <div class="form-group">
                        {%if field.type=="SubmitField"%}
                        {{field(class_="btn btn-primary btn-block")}}
                        {%else%}
                        {%if field.label.text!="CSRF Token"%}
                        {{field.label}} {{field(class_="form-control")}}
                        {%endif%}
                        {%endif%}
                    </div>
                    {%endfor%}
                 </form>

            <a href="{{url_for('bhome')}}"  style="text-align:center;"><button class="btn btn-primary"> BACK </button></a>


        </section>
    </main>
   {%endblock content%}

